[submodule "third_party/debian"]
	path = third_party/debian
	url = https://salsa.debian.org/python-debian-team/python-debian.git
[submodule "third_party/mako"]
	path = third_party/mako
	url = https://github.com/sqlalchemy/mako
[submodule "third_party/chardet"]
	path = third_party/chardet
	url = https://github.com/chardet/chardet
